body {
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    height: 300px;
    width: 450px;
}